.app {
  display: grid;
  grid-template: [header-left] "head head" 1fr [header-right]
                 [main-left]   "main  main" 3fr  [main-right]
                 [footer-left] "foot  foot" 30px [footer-right]
}

.app-nav {
  grid-area: head;
  align-self: center;
}

.app-nav li {
  display: inline;
}

.devices {
  grid-area: main;
  align-self: center;
}
