img {
  height: 200px;
  width: 100px;
}

.light {
  background-color: #00FFFF;
  display: inline-grid;
  grid-template: "picture picture text text logs logs logs logs"
                  "picture picture text text logs logs logs logs"
                  "picture picture text text logs logs logs logs"
                  "picture picture text text logs logs logs logs";
  grid-gap: 30px;
}

.lightbulb {
  grid-area: picture;
}

.light-info {
  grid-area: text;
}

.light-logs {
  grid-area: logs;
}
